<footer class = "footer w-100 pb-5 pt-4">
  <div class = "container-fluid footer-top mb-5">
    <div class = "row">
      <div class = "col-sm-4 col-logo text-left pt-3 pl-0">
        <img src = "/assets/img/white-trans.png">
      </div>
      <div class = "col-sm-8 col-menus">
        <div class = "row">
          <div class = "col-sm-3">
          <h4>BROWSE</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Fonts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Font Packs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Foundries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Designers</a>
            </li>
          </ul>
          </div>
          <div class = "col-sm-3">
          <h4>SUPPORT</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Fonts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Font Packs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Foundries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Designers</a>
            </li>
          </ul>
          </div>
          <div class = "col-sm-3">
          <h4>ABOUT</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Fonts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Font Packs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Foundries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Designers</a>
            </li>
          </ul>
          </div>
          <div class = "col-sm-3">
          <h4>FONT COMMUNITY</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Fonts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Font Packs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Foundries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Designers</a>
            </li>
          </ul>
          </div>                              
        </div>
      </div>
    </div>
  </div>
  <div class = "container-fluid footer-bottom">
    <div class = "row">
      <div class = "col-sm-8 pl-0">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Terms of Use</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cookies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cookie Preferences</a>
  </li>
</ul>        
      </div>
      <div class = "col-sm-4 text-right">
        <div class = "fs-13">© 2020 Font.Community. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>